{{template "base" .}}

{{define "title"}}Список заметок{{end}}

{{define "main"}}
    <h2>Последние заметки</h2>
    {{if  .Snippets}}
        <table>
            <tr>
                <th>ID</th>
                <th>Заголовок</th>
                <th>Создан</th>
                <th></th>
                <th></th>
            </tr>
            {{range .Snippets}}
            <tr>
                <td>#{{.ID}}</td>
                <td><a href='/snippets/data?id={{.ID}}'>{{.Title}}</a></td>
                <td>{{.Created}}</td>
                <td><a href='/snippets/delete?id={{.ID}}'>Удалить</a></td>
                <td><a href='/snippets?id={{.ID}}' method="delete">Удалить ID</a></td>
            </tr>
            {{end}}
        </table>
    {{else}}
        <p>Здесь ничего нет... пока что!</p>
    {{end}}

    <a class='button' href='/snippets/create'>Добавить</a>
{{end}}