* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: Google Sans, -apple-system, BlinkMacSystemFont, sans-serif;
}

/* Palette */
/* base-bg: #2d2d2d */
/* second-bg: #2E3A3F */
/* base-text-color: #e8e5ff */
/* second-text-color: #FFF4BC */

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    background-color: #2d2d2d;
    color: #e8e5ff;
    overflow-y: scroll;
}

header, nav, main, footer {
    padding: 2px calc((100% - 800px) / 2) 0;
}

main {
    margin-top: 54px;
    margin-bottom: 54px;
    min-height: calc(100vh - 345px);
    overflow: auto;
}

h1 a {
    font-size: 24px;
    background-image: url("/static/img/logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0px 0px;
    height: 36px;
    padding-left: 50px;
    position: relative;
}

h1 a:hover {
    text-decoration: none;
}

h2 {
    font-size: 18px;
    margin-bottom: 36px;
    position: relative;
    top: -9px;
}

a {
    color: #e8e5ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


a.link-back {
    display: block;
    margin-bottom: 36px;
}

header {
    border-bottom: 1px solid #E4E5E7;
    overflow: auto;
    padding-top: 25px;
    padding-bottom: 25px;
}

header a {
    text-decoration: none;
}

nav {
    border-bottom: 1px solid #E4E5E7;
    padding-top: 17px;
    padding-bottom: 17px;
}

nav a {
    position: relative;
    margin-right: 1.5em;
    display: inline-block;
}

nav form {
    display: inline-block;
    margin-left: 1.5em;
}

nav div {
    width: 50%;
    float: left;
}

nav div:last-child {
    text-align: right;
}

nav div:last-child a {
    margin-left: 1.5em;
    margin-right: 0;
}

nav a.live {
    color: #FFF4BC;
    cursor: default;
}

nav a.live:hover {
    text-decoration: none;
}

nav a.live:after {
    content: '';
    display: block;
    position: absolute;
    left: calc(50% - 7px);
    top: 33px;
    width: 10px;
    height: 10px;
    background: #F7F9FA;
    border-left: 1px solid #E4E5E7;
    border-bottom: 1px solid #E4E5E7;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(-45deg);
}

a.button, input[type="submit"] {
    background-color: #2d2d2d;
    border-radius: 3px;
    color: #E4E5E7;
    border: 1px solid #E4E5E7;
    padding: 10px 16px;
    display: inline-block;
    margin-top: 18px;
    font-weight: 700;
}

a.button:hover, input[type="submit"]:hover {
    background-color: #3a4850;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;
}

form div {
    margin-bottom: 18px;
}

form div:last-child {
    border-top: 1px dashed #E4E5E7;
}

form input[type="radio"] {
    position: relative;
    top: 2px;
    margin-left: 18px;
}

form input[type="text"], form input[type="password"], form input[type="email"]{
    padding: 0.75em 18px;
    width: 100%;
}

form input[type="number"] {
    margin-left: 16px;
    padding: 0.75em 18px;
}

form input[type=text], form input[type="password"], form input[type="email"], textarea {
    color: #e8e5ff;
    border: 1px solid #E4E5E7;
    border-radius: 3px;
}

form label {
    display: inline-block;
    margin-bottom: 9px;
}

input:not([type="submit"]) {
    background: #2d2d2d;
    color: #e8e5ff;
    font-size: 14px;
}

.error {
    color: #C0392B;
    font-weight: bold;
    display: block;
}

.error + textarea, .error + input {
    border-color: #C0392B !important;
    border-width: 2px !important;
}

textarea {
    padding: 18px;
    width: 100%;
    height: 266px;
}

button {
    background: none;
    padding: 0;
    border: none;
    color: #2d2d2d;
    text-decoration: none;
    cursor: pointer;
}

button:hover {
    color: #20272b;
    text-decoration: underline;
}

.snippet {
    border: 1px solid #E4E5E7;
    border-radius: 3px;
}

.snippet pre {
    padding: 18px;
    border-top: 1px solid #E4E5E7;
    border-bottom: 1px solid #E4E5E7;
}

.snippet .metadata:nth-child(1) {
    background-color: #707070;
}

.snippet .metadata {
    padding: 0.75em 18px;
    overflow: auto;
}

.snippet .snippet-content {
    padding: 0.75em 18px;
    border-bottom: 1px solid #E4E5E7;
}

.snippet .metadata time {
    display: inline-block;
}

.snippet .metadata time:first-child {
    float: left;
}

.snippet .metadata time:last-child {
    float: right;
}

div.flash {
    color: #FFFFFF;
    font-weight: bold;
    background-color: #34495E;
    padding: 18px;
    margin-bottom: 36px;
    text-align: center;
}

div.error {
    color: #FFFFFF;
    background-color: #C0392B;
    padding: 18px;
    margin-bottom: 36px;
    font-weight: bold;
    text-align: center;
}

table {
    background: #2d2d2d;
    border: 1px solid #E4E5E7;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 9px 18px;
}

th:last-child, td:last-child {
    text-align: right;
    color: #6A6C6F;
}

tr {
    border-bottom: 1px solid #E4E5E7;
}

tr:nth-child(2n) {
    background: #2d2d2d;
}

footer {
    border-top: 1px solid #E4E5E7;
    padding-top: 17px;
    padding-bottom: 15px;
    background: #2d2d2d;
    height: 60px;
    text-align: center;
}
